@mixin font_sizes($size_01, $size_02, $size_03) {
    h1 {
        font-size: $size_01;
    }

    h2 {
        font-size: $size_02;
    }

    p, #values span, footer {
        font-size: $size_03;
    }
}